<h2>Ejemplos WebSockets</h2>
<hr>

<div id="temperatura"></div>


<a href="/">Home</a>

<script src="/socket.io/socket.io.js"></script>
{{!-- <script>
    alert("hola")
</script> --}}

<script src="/js/ws.js"></script>